*{
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}
body {
    background: darkgray;
}
#nav-container {
    display: flex;
    justify-content: center;
    height: 10vh;
    background: black;
    margin: 0;
    color: #d2d2d2;
}
nav {
    width: 70vh;
    display: inherit;
    font-size: 22px;
}
a {
    align-self: center;
    margin-right: 5em;
}
form {
    display: flex;
    flex-flow: column;
    width: 70vh;
    margin: 0 auto;
    min-width: 300px;
}
input {
    height: 3em;
    border-radius: 3px;
    border: none;
    padding: 0px 10px;
}
button {
    width: fit-content;
    height: 2.5em;
    margin: auto;
    border: none;
    border-radius: 3px;
    color: #FAFAFA;
}
#submit-button{
    background: #4C4C4C;
}
.delete-button{
    background: #a20c0c;
}
.form-wrapper{
    border: none;
    border-radius: 10px;
    background: #d2d2d2;
    width: 70vw;
    margin: 5vh auto;
    padding: 5vh 0;
}
.submit-history-card{
    display: flex;
    flex-flow: column;
    padding: 5vh;
}
.submit-history-card p{
    width: 90%;
    height: 3em;
}